*.tcl linguist-detectable=false
*.py linguist-detectable=true
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.tcl linguist-detectable=false
